%h1.title.is-size-4
  %a{ href: "/maps" } Maps
  >
  %a{ href: "/" } Europe

.regions_chart.chart

.s30

%p
  Data from
  %a{ href: "https://ourworldindata.org" } ourworldindata.org
  \- last update #{Stats.data_timestamp[0..-14]}
